<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Xe May Viet</title>
  </head>
  <body>
    <h1>Xe may viet</h1>
    <p>
      This is the home page
    </p>
  </body>
</html>
